* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 2px;
    width: 960px;
    height: 960px;
}

.grid-item {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.grid-item:hover {
    background-color: blue;
}


